crewai[tools]
embedchain
duckduckgo-search
atlassian-python-api
pytesseract
Pillow
pdf2image
markdownify
rich
sentence-transformers
jira
greenlet!=0.4.17
langchain-groq
# gpt4all # not available on pypi for arm64 linux