# crewai>=0.105.0
# crewai-tools>=0.37.0
# git+https://github.com/joaomdmoura/crewai.git@main#egg=crewai
# git+https://github.com/joaomdmoura/crewai-tools.git@main#egg=crewai-tools
crewai>=0.121.1
crewai-tools==0.42.2
embedchain>=0.1.127
chromadb>=0.5.23
duckduckgo-search
atlassian-python-api
pytesseract
Pillow
pdf2image
markdownify
rich
sentence-transformers
jira
greenlet!=0.4.17
langchain-groq
langchain-anthropic
PyGithub
transformers>=4.46.0
jinja2==3.1.6
langchain_openai
langchain_community
python-magic
# gpt4all # not available on pypi for arm64 linux
boto3